<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sniper.music.home">

    <application>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <provider
            android:name="com.sniper.music.home.search.KeywordSuggestionProvider"
            android:authorities="com.sniper.music.home.search.KeywordSuggestionProvider"
            android:exported="false"
            android:enabled="true"/>
    </application>

</manifest>