<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sniper.music.details">

    <application>
        <activity android:name=".DetailsActivity">
            <intent-filter
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="${appLinkHost}"
                    android:pathPattern="${appLinkDetails}"
                    android:scheme="${appLinkScheme}"/>
            </intent-filter>
        </activity>
    </application>

</manifest>

